// COLORS
$primary-color: #DB0006;
$secondary-color: rgb(228, 107, 111);
$white-color: #fff;
$black: #000000;
$dark-grey: #271f1f;
$dark-blue-text: #ffffff; // For Headings
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;